<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.yoursway.introspection">
      </category>
      <view
            name="LaunchesView"
            icon="icons/sample.gif"
            category="com.yoursway.introspection"
            class="com.yoursway.introspection.internal.launches.LaunchesView"
            id="com.yoursway.introspection.internal.launches.LaunchesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.yoursway.introspection.internal.launches.LaunchesView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
