<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension
         point="org.eclipse.ui.views">

      <view
            category="com.yoursway.ide.rails"
            class="com.yoursway.ide.ui.railsview.RailsProjectView"
            icon="icons/rails_view.gif"
            id="com.yoursway.ide.ui.RailsProjectView"
            name="Project">
      </view>

   </extension>

</plugin>
