<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.yoursway.rails.chooser" name="Rails Chooser" schema="schema/com.yoursway.rails.chooser.exsd"/>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Rails"
            icon="icons/rails_perspective.gif"
            class="com.yoursway.ide.ui.perspectives.RailsPerspective"
            id="com.yoursway.ide.ui.perspectives.RailsPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.yoursway.ide.rails"
            class="com.yoursway.ide.ui.advisor.AdvisorView"
            icon="icons/next_step_view.gif"
            id="com.yoursway.ide.ui.AdvisorView"
            name="Next Step">
      </view>
      <view
            category="com.yoursway.ide.rails"
            class="com.yoursway.ide.ui.railsview.RailsView"
            icon="icons/rails_view.gif"
            id="com.yoursway.ide.ui.RailsView"
            name="Project">
      </view>
      <category
            id="com.yoursway.ide.rails"
            name="Rails">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.yoursway.ide.ui.rubyeditor.HumaneRubyEditor"
            default="true"
            extensions="rb"
            icon="icons/ruby_editor.gif"
            id="com.yoursway.ide.ui.rubyeditor"
            name="YourSway Ruby Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.yoursway.ide.ui.testActionSet"
            label="test"
            visible="true">
         <action
               class="com.yoursway.rails.StartSearchAction"
               id="com.yoursway.ide.ui.doSomething"
               label="Start searching"
               style="push"
               toolbarPath="Normal/additions">
         </action>
         <action
               class="com.yoursway.rails.ShowSearchResultAction"
               id="com.yoursway.ide.ui.doSomethingAnother"
               label="Show rails installations"
               style="push"
               toolbarPath="Normal/additions">
         </action>
         <action
               class="com.yoursway.ide.ui.stubs.Foobar"
               id="com.yoursway.ide.ui.action2"
               label="foobar"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.yoursway.ide.rcp.YourSwayIDEApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.yoursway.ide.ui.application"
            name="YourSway IDE">
         <property
               name="windowImages"
               value="product_images/icon16.gif,product_images/icon32.gif,product_images/icon48.gif,product_images/icon64.gif,product_images/icon128.gif">
         </property>
         <property
               name="appName"
               value="YourSway IDE">
         </property>
         <property
               name="aboutImage"
               value="product_images/logo.gif">
         </property>
         <property
               name="aboutText"
               value="YourSway IDE — the tool for your Rails masterpiece.&#x0A;&#x0A;© 2007, YourSway.">
         </property>
         <property
               name="startupProgressRect"
               value="50,20,50,20">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="0,0,0,0">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="com.yoursway.rails.launching.PublicMorozovProcessFactory"
            id="com.yoursway.ide.publicMorozovRuntimeProcessFactory">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="rhtml"
            id="com.yoursway.erbhtml"
            name="RHTML (erb + HTML)">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="rhtml"
            type="text">
      </fileTypes>
      <fileTypes
            extension="rb"
            type="text">
      </fileTypes>
      <fileTypes
            extension="rake"
            type="text">
      </fileTypes>
      <fileTypes
            extension="log"
            type="text">
      </fileTypes>
      <fileTypes
            extension="cgi"
            type="text">
      </fileTypes>
      <fileTypes
            extension="fcgi"
            type="text">
      </fileTypes>
      <fileTypes
            extension="yml"
            type="text">
      </fileTypes>
   </extension>
   
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="com.yoursway.ide.rhtml.editor.ErbHtmlSourceViewerConfiguration"
            target="com.yoursway.erbhtml">
      </sourceViewerConfiguration>
   </extension>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="YourSway RHTML Editor"
			icon="icons/rhtml_editor.gif"
			extensions="rhtml"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="com.yoursway.erbhtml.source">
			<contentTypeBinding
				contentTypeId="com.yoursway.erbhtml" />
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.documentCreation">
		<factory
			contentTypeId="com.yoursway.erbhtml"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>
	
	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			class="com.yoursway.ide.rhtml.editor.ErbHtmlModelHandler"
			associatedContentTypeId="com.yoursway.erbhtml"
			id="com.yoursway.erbhtml.modelhandler">
		</modelHandler>
	</extension>
	
	<extension
		point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="com.yoursway.ide.rhtml.internal.registry.AdapterFactoryProviderForJSP">
			<contentType id="com.yoursway.erbhtml" />
		</adapterFactoryDescription>
	</extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu">
       <menu
             id="com.yoursway.project"
             label="Project">
          <command
                commandId="com.yoursway.ide.project.createRailsApplication"
                id="com.yoursway.ide.project.createRailsApplication"
                label="New Rails Application"
                mnemonic="a">
          </command>
          <command
                commandId="com.yoursway.ide.project.createRailsApplication"
                id="com.yoursway.ide.project.openRailsApplication"
                label="Open Rails Application...">
          </command>
          <separator
                name="com.yoursway.ide.ui.separator1">
          </separator>
          <command
                commandId="com.yoursway.rails.search.ChooseRailsCommand"
                label="Choose Rails...">
          </command>
          <dynamic
                class="com.yoursway.rails.projects.commands.OpenRecentDynamicItem"
                id="com.yoursway.ide.ui.dynamic1">
          </dynamic>
          <command
                commandId="com.yoursway.ide.ui.Preferences"
                label="Preferences...">
          </command>
       </menu>
       <menu
             id="com.yoursway.ide.add"
             label="Add">
          <command
                commandId="com.yoursway.rails.AddController"
                label="Controller">
          </command>
          <command
                commandId="com.yoursway.ide.AddModel"
                label="Model">
          </command>
          <command
                commandId="com.yoursway.ide.AddMigration"
                label="Migration">
          </command>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="com.yoursway.ide.projects.commands.CreateRailsApplicationHandler"
          id="com.yoursway.ide.project.createRailsApplication"
          name="Create Rails Application">
    </command>
    <command
          defaultHandler="com.yoursway.rails.chooser.commands.ChooseRailsHandler"
          id="com.yoursway.rails.search.ChooseRailsCommand"
          name="Choose Rails">
    </command>
    <command
          defaultHandler="com.yoursway.ide.preferences.commands.OpenPreferencesHandler"
          id="com.yoursway.ide.ui.Preferences"
          name="Preferences">
    </command>
    <command
          defaultHandler="com.yoursway.ide.rails.controllers.AddRailsControllerHandler"
          id="com.yoursway.rails.AddController"
          name="Add Controller">
    </command>
    <command
          defaultHandler="com.yoursway.ide.rails.models.AddRailsModelHandler"
          id="com.yoursway.ide.AddModel"
          name="Add Model">
    </command>
    <command
          defaultHandler="com.yoursway.ide.rails.migrations.AddRailsMigrationHandler"
          id="com.yoursway.ide.AddMigration"
          name="Add Migration">
    </command>
 </extension>
 <extension
       point="com.yoursway.rails.chooser">
    <chooser
          class="com.yoursway.rails.chooser.ui.controller.GuiRailsChooser">
    </chooser>
 </extension>

</plugin>
