<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="com.yoursway.macosx.presentation.DrawerPresentationFactory"
            id="com.yoursway.macosx.DrawerPresentation"
            name="Mac OS X Drawer Presentation">
      </factory>
   </extension>

</plugin>
